extends layout

var tableData = JSON.parse(data)

div
  - console.log("45"+tableData)
div

block content
    table
      thead
        tr
          th id
          th Name
          th Username
          th Email
      tbody    
        tr
        each item, i in tableDatadd
          td= !{item.id} 
          td= !{item.name} 
          td= !{item.username} 
          td= !{item.email} 

